.button-conatiner {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comics-container {
    display: flex;
    align-items: center;
}

.title-conatiner {
    padding-left: 24px;
}

.material-icons {
    font-size: 20px;
}