.button-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.chapter-container{
    padding-left: 24px;
    margin-top: 80px;
}

.material-icons {
    font-size: 20px;
}

.icon-container {
    display: flex;
}