<h1 mat-dialog-title>Character Details</h1>

<div mat-dialog-content>
    <div class="container">
        <div class="sub-container">
            <h3 class="alignment"><b>Name:  </b></h3> <h4>{{data.name}}</h4>
        </div>

        <div class="sub-container">
            <h3 class="alignment"><b>Age:  </b></h3> <h4>{{data.age}}</h4>
        </div>
    </div>

    <div class="container">
        <div class="sub-container">
            <h3 class="alignment"><b>Work:  </b></h3> <h4>{{data.work}}</h4>
        </div>

        <div class="sub-container">
            <h3 class="alignment"><b>About:  </b></h3> <h4>{{data.about}}</h4>
        </div>
    </div>

    <div class="container">
        <div class="sub-container">
            <h3 class="alignment"><b>Role:  </b></h3> <h4>{{data.role}}</h4>
        </div>

        <div class="sub-container">
            <h3 class="alignment"><b>Behaviour:  </b></h3> <h4>{{data.behaviour}}</h4>
        </div>
    </div>

    <div class="container">
        <div class="sub-container">
            <h3 class="alignment"><b>Likes:  </b></h3> <h4>{{data.likes}}</h4>
        </div>

        <div class="sub-container">
            <h3 class="alignment"><b>Dislikes:  </b></h3> <h4>{{data.dislikes}}</h4>
        </div>
    </div>

    <div class="container">
        <div class="sub-container">
            <h3 class="alignment"><b>Eye Color:  </b></h3> <h4>{{data.eyecolor}}</h4>
        </div>

        <div class="sub-container">
            <h3 class="alignment"><b>Hair Color:  </b></h3> <h4>{{data.haircolor}}</h4>
        </div>
    </div>

    <div class="container">
        <div class="sub-container">
            <h3 class="alignment"><b>Skintone:  </b></h3> <h4>{{data.skintone}}</h4>
        </div>

        <div class="sub-container">
            <h3 class="alignment"><b>Hair Style:  </b></h3> <h4>{{data.hairstyle}}</h4>
        </div>
    </div>

    <div class="container">
        <div class="sub-container">
            <h3 class="alignment"><b>Outfit:  </b></h3> <h4>{{data.outfit}}</h4>
        </div>

        <div class="sub-container">
            <h3 class="alignment"><b>Beard:  </b></h3> <h4>{{data.beard}}</h4>
        </div>
    </div>

    <div class="container">
        <div class="sub-container">
            <h3 class="alignment"><b>Eye Color:  </b></h3> <h4>{{data.eyecolor}}</h4>
        </div>

        <div class="sub-container">
            <h3 class="alignment"><b>Hair Color:  </b></h3> <h4>{{data.haircolor}}</h4>
        </div>
    </div>


    <div class="container">
        <div class="sub-container">
            <h3 class="alignment"><b>Height:  </b></h3> <h4>{{data.height}}</h4>
        </div>

        <div class="sub-container">
            <h3 class="alignment"><b>Body Type:  </b></h3> <h4>{{data.body}}</h4>
        </div>
    </div>

    <div class="container">
        <div class="sub-container">
            <h3 class="alignment"><b>Family:  </b></h3> <h4>{{data.family}}</h4>
        </div>
    
        <div class="sub-container">
            <h3 class="alignment"><b>Friends:  </b></h3> <h4>{{data.friends}}</h4>
        </div>
    </div>
</div>